<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.only.tech.user.mapper.FriendMapper">

    <select id="getFriendList" resultType="com.only.tech.dto.user.CustomerBaseDto">

        SELECT
            c.cuId,
            c.nickName
        FROM
            friend f
        LEFT JOIN customer c ON c.cuId = f.fuId
        WHERE f.cuId = #{cuId}
    </select>

    <!--好友信息-->
    <select id="friendInfoList" resultType="com.only.tech.dto.user.FriendInfoDto">
        SELECT
            f.fuId cuId,
            cc.identifier,
            c.nickName,
            c.avatar,
            MAX(olr.uptime) uptime
        FROM
            friend f
        LEFT JOIN customer c ON c.cuId = f.fuId
        LEFT JOIN cloud_communication cc ON cc.cuId = f.fuId
        LEFT JOIN online_record olr ON olr.cuId = f.fuId
        where f.cuId = #{cuId}
        ORDER BY uptime DESC

    </select>

</mapper>
